.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add form{
    gap: 20px;
}
.ajouter-nom{
    width: max(40% ,280px);
}
.ajouter-nom input{
    padding: 10px;
}
.select-boxes{
    display: flex;
    gap: 30px;
}
.select-boxes select{
    max-width: 120px;
    padding: 10px;
}
.add-button{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.sidebare{
    display: flex;
    width: 100%;
}

@media (max-width: 768px) {
    .select-boxes {
        flex-direction: column;
        gap: 15px;
    }
}